
<!-- issue is not updating correctly after submission, should show msgs and logged in as STREAM? needed-->
<%= turbo_frame_tag 'modal' do %>
    <div data-controller="stimmodal" class="max-w-md bg-white rounded-lg shadow-lg p-8">
      <h2 class="text-3xl font-bold text-center mb-6">Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "mb-4") do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div>
          <%= f.label :email, class: "block mb-1" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border-gray-300 rounded-md p-2" %>
        </div>

        <div>
          <%= f.label :password, class: "block mb-1" %>
          <% if @minimum_password_length %>
            <em class="text-sm">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: "w-full border-gray-300 rounded-md p-2" %>
        </div>

        <div class="mb-4">
          <%= f.label :password_confirmation, class: "block mb-1" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full border-gray-300 rounded-md p-2" %>
        </div>
        <div>
          <div>
            <%= f.submit "Sign up", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
          </div>
          <div>
            <%= link_to "Cancel", "#", data: {turbo_frame: "_top", action: "click->stimmodal#removeModal" }%>
          </div>
        </div>
      <% end %>
    </div>
<% end %>


